# fly.toml app configuration file generated for asupostit on 2025-12-19T15:41:30Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'asupostit'
primary_region = 'cdg'

[build]
  [build.args]
    REACT_APP_API_URL = "https://asupostit.fly.dev/api"
    REACT_APP_SOCKET_URL = "https://asupostit.fly.dev"

[http_service]
  internal_port = 5001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
